.home {
  background: url("../../assets/home-bg.jpg");
  background-size: cover;
}

.desc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 20rem;

  & h1 {
    font-size: 10rem;
    font-weight: 700;
    color: #312cc0;
  }

  & p {
    font-size: 2.5rem;

    & span {
      font-weight: bold;
    }
  }

  & a {
    border: none;
    border-radius: 1.5rem;
    max-width: fit-content;
    padding: 1.5rem 2.3rem;
    background-color: #312cc0;
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  & a:hover {
    background-color: #ca232e;
  }
}

@media screen and (max-width: 1224px) {
  .desc {
    flex-direction: row;
    justify-content: center;

    & p {
      font-size: 2rem;
    }
  }
}
