.contact {
  margin-top: 10rem;
  display: flex;
  align-items: center;
}

.info {
  border: 1px solid green;
  padding: 1rem;
  flex: 1;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5f3f6;
  border: 1px solid #336eeb;
  border-radius: 1rem;
  margin-top: 4rem;

  & .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;

    & span:first-child {
      color: #d4353e;
    }

    & span:last-child {
      color: #336eeb;
    }

    & span {
      font-size: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  & .right {
    align-self: flex-end;

    & a {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
}
