*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding: 3rem 20rem;
}

label,
input,
textarea {
  display: block;
}
