*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.global__wrapper {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding: 3rem 20rem;
  background: url("./assets/home-bg.jpg");
  background-size: cover;
}

label,
input,
textarea {
  display: block;
}

.global__container {
  margin-top: 10rem;
}

.global__h1 {
  margin-top: 10rem;
  color: #312cc0;
  font-size: 5rem;
  font-weight: 700;
}

@media screen and (max-width: 1224px) {
  .global__wrapper {
    padding: 0;
  }
}
