.button {
  padding: 1.2rem 4rem;
  margin-top: 2rem;
  cursor: pointer;
  background-color: #336eeb;
  color: white;
  border: none;
  outline: none;
  border-radius: 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #e7232f;
}
