.contact__form {
  flex: 2;

  & h1 {
    font-size: 4rem;
    color: #336eeb;
    margin-bottom: 1rem;
  }
}

.form {
  padding: 1rem;
  gap: 3rem;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.control {
  flex: 1;

  & input,
  & label {
    width: 80%;
  }

  & textarea {
    width: 90%;
  }
}
