.contact__form {
  flex: 2;

  & h1 {
    font-size: 4rem;
    color: #336eeb;
    margin-bottom: 1rem;
  }
}

.form {
  padding: 1rem;
  gap: 3rem;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.control {
  flex: 1;

  & input,
  & label {
    width: 80%;
  }
}

.button {
  padding: 1.2rem 4rem;
  margin-top: 2rem;
  cursor: pointer;
  background-color: #336eeb;
  color: white;
  border: none;
  outline: none;
  border-radius: 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #e7232f;
}
